<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8">
  <title>Galerija</title>
  <link rel="stylesheet" href="/style/style_slike.css">
  <link rel="stylesheet" href="/style/style_slike.css">
</head>
<body>
  <header>
  <h1 class="moving-title">Vremenska postaja - FERIT</h1>
</header>

<nav>
  <ul class="nav-menu">
    <li><a href="/">Početna</a></li>
    <li class="dropdown">
      <a href="#">O nama</a>
      <ul class="dropdown-menu">
        <li><a href="#">Naš tim</a></li>
        <li><a href="#">Povijest</a></li>
      </ul>
    </li>
    <li><a href="/slike">Galerija</a></li>
  </ul>
</nav>

  <h1>Galerija slika</h1>
  <section class="gallery">
    <% images.forEach(image => { %>
      <figure>
        <a href="<%= image.url %>" target="_blank">
          <img src="<%= image.url %>" alt="<%= image.title %>">
        </a>
        <figcaption><%= image.title %></figcaption>
      </figure>
    <% }) %>
  </section>
</body>
</html>
